.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 1;
}

.generator {
  position: relative;
  color: var(--text-color);
  border: 1px solid var(--light-border-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0 .15rem .5rem .25rem var(--dropdown-box-shadow-color);
  border-radius: var(--block-border-radius);
  padding: 2em;
  width: 22em;
}

.generator__close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.15s ease;
}

.generator__close:hover {
  color: var(--action-background-color-active);
}

.generator__header {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.generator__password {
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 2px solid var(--text-color);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.generator__password div {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.5em;
  min-height: 25px;
}

.copy__btn {
  position: absolute;
  background: transparent;
  color: var(--text-color);
  border: none;
  height: 100%;
  padding: 11px;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: 0.15s ease;
}

.copy__btn:hover {
  color: var(--action-background-color-active);
}

.copy__btn i {
  font-size: 1.2em;
}

.generator__btn {
  width: 100%;
}

.btn {
  background: var(--action-color);
  padding: 10px;
  border: none;
  display: block;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  transition: 0.15s ease;
  cursor: pointer;
  border-radius: var(--block-border-radius);
}

.btn:hover {
  background: var(--action-background-color-active);
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-bottom: 15px;
}

/*inputs*/
.form-group input[type=number] {
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 3px;
}

.form-group input[type=checkbox] {
  display: none;
}

.form-group input[type=checkbox] + label {
  display: flex;
  width: 12px;
  height: 12px;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  cursor: pointer;
}

.form-group input[type=checkbox] + label:before {
  content: '✔';
  font-size: 8px;
  color: transparent;
}

.form-group input[type=checkbox]:checked + label {
  border: 2px solid var(--text-color);
}

.form-group input[type=checkbox]:checked + label::before {
  color: var(--text-color);
}

.form-group input[type=checkbox] + label:hover {
  border-color: var(--action-color);
  color: var(--action-color);
}

.form-group input[type=checkbox]:checked:hover + label::before {
  color: var(--action-color);
}
