.th-dark {
  --muted-color: #4c4c4c;
  --disabled-color: #4c4c4c;

  --text-semi-muted-color: #f6f6f7;
  --text-contrast-action-color: #f7f7f7;

  --base-border-color: #6b6b6b;
  --light-border-color: #3d3d3d;

  --form-box-border-color-focus: #6ca2f6;

  --secondary-background-color: #2d2d2d;

  --action-background-color-active: #255fb9;
  --selected-item-color: #2e70d6;
  --clickable-on-secondary-color: #919192;


  --background-color: #1e1e1e;

  --text-color: #f7f7f7;
  --action-color: #317ef6;

  --input-border-radius: 4px;
  --block-border-radius: 5px;
  --selected-item-text-color: var(--text-color);
  --open-icon-color: var(--text-color);
  --dropdown-box-shadow-color: rgba(0,0,0,0.1);

  --white-color: #d8e5f1;
  --black-color: #111;

  --login-icons-hover-bg: #232323;
  --login-icons-hover-cl: #B8B8B8;
}

.th-light {
  --disabled-color: #e5e5e5;
  --selected-item-text-color: #f6f6f6;
  --open-icon-color: #565656;
  --muted-color: #a1a1a1;

  --text-semi-muted-color: #303031;
  --text-contrast-action-color: #f6f6f6;

  --base-border-color: #a1a1a1;
  --light-border-color: #d4d4d4;
  --form-box-border-color-focus: #3054a3;

  --secondary-background-color: #e5e5e5;
  --action-background-color-active: #244a9f;

  --selected-item-color: #4e79d9;
  --clickable-on-secondary-color: #777;

  --white-color: #d8e5f1;
  --black-color: #111;

  --background-color: #f6f6f6;
  --text-color: #303030;
  --action-color: #3063d4;

  --input-border-radius: 4px;
  --block-border-radius: 5px;

  --login-icons-hover-bg: #F1F1F1;
  --login-icons-hover-cl: #4C4C4C;
}
