.open {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--background-color);
}

.open__icons {
  display: flex;
  font-size: 1.2rem;
  align-items: stretch;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.open__icon-text {
  color: var(--muted-color);
  padding-top: 6px;
}

.open__icon {
  cursor: pointer;
  text-align: center;
  border-radius: var(--block-border-radius);
  transition: 0.15s ease;
  color: var(--open-icon-color);
  /* padding: 1em 1.2em 1em; */
  margin: .2em .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 100px;
}

.open__icon:hover {
  background: var(--login-icons-hover-bg);
  color: var(--login-icons-hover-cl);
}

.open__icon:hover .open__icon-text{
  color: var(--login-icons-hover-cl);
}

.open__icon i {
  font-size: 4em;
  vertical-align: middle;
}

.open__icon input {
  position: absolute;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
  overflow: visible;
  margin: 0;
}

.open__icon label {
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.open__icon:nth-child(-n+2) input:checked+label,  .open__icon:nth-child(-n+2) input:checked+label .open__icon-text{
  color: var(--action-color)
}

.open__icon:nth-child(3):active input:checked+label,  .open__icon:nth-child(3):active input:checked+label .open__icon-text{
  color: var(--action-color)
}

.open__pass-area {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.open__pass-field-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 0;
  margin-bottom: .5em;
}

.open input[type=password].open__pass-input[readonly] {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .open input[type=password].open__pass-input {
    width: 16em;
  }
}

.open input[type=password].open__pass-input {
  font-size: 2em;
  margin-bottom: 0;
  width: 38vw;
}

input:not([type]), input[type=password], input[type=text], textarea {
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: .75em;
  padding: .5em;
  transition: border-color .15s ease;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--base-border-color);
  /*box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%);*/
  border-radius: var(--input-border-radius);
}

input, label, select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Roboto,Arial,Microsoft YaHei,微软雅黑,PingFang SC,Hiragino Sans GB,STXihei,华文细黑,sans-serif;
  font-size: 1rem;
}

input, select {
  display: block;
}

input {
  line-height: normal;
  color: inherit;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.open__pass-enter-btn {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

.open__pass-enter-btn:hover {
  color: var(--login-icons-hover-cl);
  transition: 0.15s ease;
}

.open__pass-enter-btn, .open__pass-opening-icon {
  padding: .6em 1.5em;
  position: absolute;
  left: 100%;
  border-radius: var(--block-border-radius);
  color: var(--muted-color);
  line-height: 3em;
  height: 3.2em;
}

.open__pass-enter-btn>i, .open__pass-opening-icon>i {
  font-size: 3em;
  line-height: 1;
}
.open__pass-enter-btn-icon-enter {
  display: block;
}
.fa.rotate-90:before, .rotate-90 {
  transform: rotate(
      90deg
  );
}

.open-label {
  position: relative;
}

.label-disable {
  pointer-events: none;
}

.open-icon-disable {
  cursor: default;
}

.open-icon-text-disable {
  color: var(--muted-color);
}

.open-icon-disable:hover {
  cursor: default;
  background: transparent;
  color: var(--open-icon-color);
}

.open-icon-disable:hover .open-icon-text-disable {
  color: var(--muted-color);
}

.timer {
  position: absolute;
  top: 36px;
  left: 27px;
  color: var(--disabled-color);
  font-weight: 700;
}
