.app-list-wrap {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.app__list {
    /*flex: 0 0 25em;*/
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow-y: auto;
   width: auto;
    height: auto;
    flex: 0 0 434px;
    border-right: 1px solid var(--light-border-color);;
}

.app__details {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: 1.5em;
    position: relative;
}

@media (max-width: 701px) {
    .app-list-wrap, .app_body {
        flex-direction: column;
    }

    .app__list {
        flex: 0 0 295px;
        border-bottom: 1px solid var(--light-border-color);
    }
}

@media (max-width: 568px) {
    .app__list {
        flex: 0 0 193px;
    }
}

.list {
    justify-content: flex-start;
    overflow: hidden;
}

.list, .list__items {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.list__items {
    position: relative;
    overflow: auto;
}

.list__items::-webkit-scrollbar {
    width: 7px;
}

.list__items::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: 3px;
    pointer-events: auto;
}

.list__items:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background-color);
}

.list__items::-webkit-scrollbar-thumb:hover {
    background-color: var(--clickable-on-secondary-color);
}

.empty-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.muted-color {
    color: var(--muted-color);
}

.empty-block__icon {
    font-size: 80px;
    margin-bottom: 10px;
}

.empty-block__text, .empty-block__title {
    padding: 0 1em;
}

.empty-block h1 {
    font-size: 2.44140625rem;
    line-height: 1.2;
    margin: 0 0 .75em;
}

.empty-block p {
    margin: 0 0 .75em;
}


