.app__footer {
    flex: 0 0 auto;
    border-top: 1px solid var(--light-border-color);
    background-color: var(--secondary-background-color);
}

.footer {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__btn {
    flex: 0 0 auto;
    cursor: pointer;
    padding: .5em 1em;
    font-size: 1.4em;
    text-align: center;
    width: 1em;
    transition: 0.15s ease;
}

.footer__btn i {
    font-size: 1.5rem;
}

.footer__btn:hover {
    color: #317ef6;
}

.footer__btn:last-of-type {
    padding-right: 1.5em;
}